body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#F4F4F4;
    align-content:inherit;
    margin: 0;
    font-size:14px;
}

.form-control {
  padding-right: 30px;
}

.form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 27px;
}

.a{
    color:#2fa4e7;
    font-family:"Segoe UI Light";
}
.h-divider{
 margin-top:2px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid gray;
}
.list-group list-group-item > p{
    background-color:transparent;
    border:none;

}

hr{
    width:50px;
    height:3px;
    color:#225954;
}

h2{
    padding-top:1.8em;
}

h1{
    padding-top:1.5em;
}
h1,p,h2, form-horizontal.label{
    font-family:'Segoe UI',Segoe,'Segoe WP',Tahoma,Verdana,Arial,sans-serif;
}

.navbar-inverse{
    background-color: #373737 !important;
    height:100px;
}

.navbar-right > li > a,
.navbar-right > li > button{
    float: right;
    line-height: 20px;
    height: 30px;
    margin:auto;
    position:relative;
    font-size:14px;
}

.nav navbar-nav navbar-right{
    font-size: 1.8em !important;
}

.navbar{
    font-size: 1.5em !important;
}
.navbar-nav > li > a,
.navbar-nav > li > button{

    font-family:'Segoe UI Light',Segoe,'Segoe WP',Tahoma,Verdana,Arial,sans-serif;
    padding-top: 40px;
    line-height: 20px;
}
.navbar-collapse > ul a:link{ 
    color: #84DAD1 !important; 

}

.post{
    display:inline-block;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
}


h1 >a{
    float:right;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select {
    max-width: 400px;
    font-size:medium;
}
textarea {
    max-width: 700px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] .item img[src$=".PNG"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}


