@{
    ViewData["Title"] = "AuthorError";
}
<h2>@ViewData[""]Oops!</h2>
<h3>@ViewData["Message"]</h3>

<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
   Looks like you are not the author of this blog post or comment. Choose your blog post to edit.
</div>


<a asp-action="Index">Back to Posts</a>

