@{
    ViewData["Title"] = "AuthorError";
}
<h2>@ViewData[""]Oops!</h2>
<h3>@ViewData["Message"]</h3>

<p>You are not the author of this blog post. Choose your blog post to edit.</p>
<a asp-action="Index">Back to List</a>

