@{
    ViewData["Title"] = "DeleteError";
}
<h2>@ViewData[""]Oops!</h2>
<h3>@ViewData["Message"]</h3>

<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    You are not the author of this blog post or comment. You cannot delete posts you did not write. Stop being malicious >.> 
</div>
<a asp-action="Index">Back to List</a>

