@model Blog.Models.Comment

@{
    ViewData["Title"] = "EditComment";
}

<h2>Edit Comment</h2>

<form asp-action="EditComment">
    <div class="form-horizontal">
        <h4>Comment</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="PostID" />
        <input type="hidden" asp-for="CommentAuthor" />
        <div class="form-group">
            <label asp-for="CommentBody" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CommentBody" class="form-control" />
                <span asp-validation-for="CommentBody" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CommentDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CommentDate" class="form-control" disabled />
                <span asp-validation-for="CommentDate" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
