@model Blog.Models.Post


@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">


        <h1 align="center">Welcome to the blog!</h1>
        <br/>

        <p align="center"><a asp-controller="Posts" asp-action="Index">See more posts</a></p>


 
</div>

<h2>@Model.Title  by @Model.Author </h2>
<p>@Model.Body</p>
    