@{
    ViewData["Title"] = "DeleteError";
}
<h2>@ViewData[""]Oops!</h2>
<h3>@ViewData["Message"]</h3>

<p class="bg-warning">You are not the author of this blog post. You cannot delete posts you did not write. Stop being malicious >.> </p>
<a asp-action="Index">Back to List</a>

