@{
    ViewData["Title"] = "Error";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p class="bg-warning">Please sign in before creating a blog</p>
<a asp-action="Index">Back to List</a>

