@using Microsoft.AspNetCore.Authorization
@using Blog
@model IEnumerable<Post>
@inject IAuthorizationService AuthorizationService





@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">


    <h1 align="center">Welcome to the blog!</h1>
    <br />

    <p align="center"><a asp-controller="Admin" asp-action="Index">See more posts</a></p>



</div>


@{
    var requirement = new EditDeleteRequirement();
    foreach (var post in Model)
    {
        if (await AuthorizationService.AuthorizeAsync(User, post, requirement))
        {

            <a asp-action="Delete" asp-route-id="@post.ID" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            <p>Post: "@post.ID"</p>
        }
    }
}
