@{
    ViewData["Title"] = "Forbidden";
}
<h2>@ViewData[""]Oops!</h2>
<h3>@ViewData["Message"]</h3>

<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    You are not authorized to view this page.
</div>

